@import "lib.less";
//导航
.HL_Navigation{
  margin-top: 20px;
  .cf();
  li{
    float: left;
    width: 127px;
    text-align: center;
    .omit();
    line-height: 30px;
    font-size: 16px;
    color: #787878;
    border-bottom: 1px solid #dcdcdc;
    cursor: pointer;
  }
  li:hover{
    float: left;
    width: 127px;
    text-align: center;
    .omit();
    line-height: 30px;
    font-size: 16px;
    color: #f8b237;
    border-bottom: 1px solid #f8b237;
    cursor: pointer;
  }
  li.active{
    color: #f8b237;
    border-bottom: 1px solid #f8b237;
  }
}
//导航
.HL_Navigation_two{
  margin-top: 20px;
  .cf();
  li{
    float: left;
    width: 110px;
    text-align: center;
    .omit();
    line-height: 30px;
    font-size: 16px;
    color: #787878;
    border-bottom: 1px solid #dcdcdc;
    cursor: pointer;
  }
  li:hover{
      float: left;
      width: 110px;
      text-align: center;
      .omit();
      line-height: 30px;
      font-size: 16px;
      color: #f8b237;
      border-bottom: 1px solid #f8b237;
      cursor: pointer;
  }
  li.active{
    color: #f8b237;
    border-bottom: 1px solid #f8b237;
  }
}
//二级分类
.HL_Classification{
  width: 145px;
  float: left;
  div{
    width: 127px;
    height:28px;
    background: #e5e5e5;
    .omit();
    line-height: 28px;
    color: #787878;
    font-size: 14px;
    padding-left: 18px;
    margin-bottom: 8px;
    cursor: pointer;
  }
  div:hover{
    width: 127px;
    height:28px;
    background: #00a189;
    .omit();
    line-height: 28px;
    color: #fff;
    font-size: 14px;
    padding-left: 18px;
    margin-bottom: 8px;
    cursor: pointer;
  }
  .active{
    background: #00a189;
    color: #fff;
  }
}