@import "lib.less";
.wapper {
  width: 980px;
  margin: 0 auto;
  padding-bottom: 50px;
  .pic{
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
    height: 202px;
    img{
      width: 100%;
      height: 100%;
    }
  }
  .box{
    margin-top: 30px;
    .cf();
    .left{
      float: left;
      width: 220px;
      ul{
        border-top: 4px solid #009883;
        padding-top: 15px;
        li{
          height: 43px;
          background:url("../css/images/jt_1.png")no-repeat 195px center  #eee;;
          line-height: 43px;
          color: #787878;
          padding-left: 18px;
          .omit();
          padding-right: 20px;
          margin-bottom: 3px;
          font-size: 14px;
          cursor: pointer;
        }
        li.active{
          background:url("../css/images/jt_1.png")no-repeat 195px center  #009883;;
          color: #f3f3f1;
        }
        li:hover{
          background:url("../css/images/jt_1.png")no-repeat 195px center  #009883;;
          color: #f3f3f1;
        }
      }
    }
    .right{
      float: right;
      width: 664px;
      padding: 30px;
      border: 1px solid #e0e0e0;
      .tit{
        .cf();
        span{
          cursor: pointer;
          float: left;
          width: 55px;
          border-bottom: 1px solid #b9b9b9;
          text-align: center;
          line-height: 18px;
          color: #787878;
        }
        span.active{
          color: #009883;
          border-bottom: 1px solid #bee9b9;
        }
        span:hover{
          color: #009883;
          border-bottom: 1px solid #bee9b9;
        }
        .car_span{
          float: left;
          width: 75px;
          border-bottom: 1px solid #bee9b9;
          text-align: center;
          line-height: 18px;
          color: #009883;
        }
        b{
          float: right;
          width: 554px;
          border-bottom: 1px solid #b9b9b9;
          margin-top: 18px;
        }
        .car_b{
          float: right;
          width: 589px;
          border-bottom: 1px solid #b9b9b9;
          margin-top: 18px;
        }
      }
      .name{
        margin-top: 30px;
        padding-left: 104px;
        .add{
          span{
            font-size: 14px;
            color: #787878
          }
          input{
            margin-right: 5px;
          }
          .inp1{
            width: 60px;
            height: 34px;
            border: 1px solid #d4d4d4;
            padding-left: 13px;
            background: url("../css/images/jt.png") no-repeat 75px center;
            padding-right: 20px;
          }
          .inp2{
            width: 110px;
            height: 34px;
            border: 1px solid #d4d4d4;
            padding-left: 13px;
            background: url("../css/images/jt.png") no-repeat 127px center;
            padding-right: 20px;
          }
        }
        .school_name{
         margin-top: 15px;
          span{
            font-size: 14px;
            color: #787878;
          }
          input{
            width: 277px;
            height: 32px;
            border: 1px solid #d4d4d4;
            padding-left: 15px;
            padding-right: 30px;
            background: url("../css/images/jt.png") no-repeat 294px center;
          }
        }
        .po_name{
          margin-top: 20px;
          span{
            font-size: 14px;
            color: #787878
          }
          i{
            color: #373737;
          }
        }
        .left_1{
          margin-left: -28px;
        }

      }
      .so{
        padding-top: 20px;
        padding-left: 150px;
        .pay{
          display: inline-block;
          width: 127px;
          height: 29px;
          line-height: 29px;
          text-align: center;
          border-radius: 15px;
          background: #19a290;
          color: #fff;
          font-size: 14px;
          margin-right: 220px;
        }
        .Explain{
          font-size: 14px;
          color: #009883;
          text-decoration: underline;
          margin-right: 30px;
        }
      }
    }

  }
  .box2{
    margin-top: 25px;
    .left{
      float: left;
      .div1{
        width: 570px;
        background: #f3f3f1;
        padding: 10px;
        ol{
          margin-left: 25px;
          li{
            list-style: initial;
            color: #989696;
            a{
              display: inline-block;
              width: 450px;
              .omit();
              line-height: 100%;
              color: #989696;
            }
            span{
              display: inline-block;
              width: 70px;
              .omit();
            }
          }
        }
      }
    }
    .right{
      float: right;
      .div2{
        width: 330px;
        background: #f3f3f1;
        padding: 10px;
        ul{
          margin-left: 25px;
          li{
            list-style:initial;
            color: #989696;
            a{
              display: inline-block;
              width: 305px;
              .omit();
              line-height: 100%;
              margin-top: 5px;
              color: #989696;
            }
            .name{
              color: #32a696;
            }
          }
        }
      }
    }
  }
}