@import "lib.less";
.wapper{
  width: 980px;
  margin: 0 auto;
  .cf();
  .left{
    width: 628px;
    float: left;
    margin-top: 40px;
    margin-bottom: 50px;
    .box{
      margin-bottom: 30px;
      .tatle{
        margin-bottom: 30px;
        .cf();
        h3{
          width: 184px;
          border-bottom: 1px solid #f8b237;
          float: left;
          font-size: 14px;
          color: #787878;
          padding-left: 5px;
          line-height: 30px;
          i{
            color: #f8b237;
            font-size: 12px;
          }
          img{
            display: inline-block;
            width: 28px;
            height: 28px;
            margin-right: 5px;
          }
        }
        div{
          width: 439px;
          border-bottom: 1px solid #dcdcdc;
          float: right;
          text-align: right;
          margin-top: 12px;

        }
      }
      .name{
        .omit();
        img{
          width: 36px;
          height: 36px;
          float: left;
        }
        p{
          float: left;
          width: 500px;
          .omit();
          margin-top: 9px;
          margin-left: 10px;
          color: #787878;
        }
      }
      .vote{
        margin-top: 20px;
        .cf();
        .chek{
          float: left;
          margin-left: 25px;
          div{
            .cf();
            input{
              float: left;
              margin-top: 7px;
              margin-right: 10px;
            }
            i{
              float: left;
              width: 100px;
              .omit();
              color: #787878;
              line-height: 26px;
            }
          }


        }
        .show{
          margin-bottom: 13px;
          float: right;
          .cf();
          .pic{
            float: left;

            .div1{
              width: 220px;
              height: 12px;
              border: 1px solid #ffd267;
              border-radius: 5px;
              position: relative;
              .div2{
                position: absolute;
                top: 0;
                left: -1px;
                width: 100px;
                height: 12px;
                background: #ffd267;
                border-radius: 5px;

              }
              .div2_red{
                background:#ff6a58;
                width: 200px;
              }
              .div2_blue{
                background:#88abda;
                width: 150px;
              }
            }
            .div1_blue{
              border: 1px solid #88abda;
            }

          }
          .sum{
            float: left;
            color: #009882;
            margin-left: 20px;
            margin-top: -3px;
          }
        }
      }
      .number{
        text-align: right;
        color: #949494;
      }
      .sub{
        display: inline-block;
        width: 85px;
        height: 20px;
        background: #f8b237;
        color: #fff;
        text-align: center;
        line-height: 20px;
        border-radius: 7px;
        margin-left: 540px;
        margin-top: 30px;
      }

    }
  }
  .right{
    width: 316px;
    float: right;
    padding-top: 49px;
    .vote_show{
      .cf();
      margin-bottom: 15px;
      h3{
        font-size:14px;
        color: #00a189;
        float:left;
        border-bottom: 1px solid #f8b237;
        width: 120px;
        padding-left:25px;
        background: url("../css/images/pic_2.png")no-repeat 0 center ;
        .omit();
      }
      div{
        width: 171px;
        float: right;
        border-bottom: 1px solid #dcdcdc;
        margin-top: 21px;
      }
    }
    .Vote_t{
      .name{
        padding: 0 10px;
        width: 217px;
        display: inline-block;
        text-align: left;
        .omit();
        color: #787878;
      }
      .sum{
        width: 75px;
        display: inline-block;
        text-align: right;
        .omit();
        color:#f8b237 ;
      }
    }
    .more{
      text-align: right;
      color:#787878;
      margin-top: 10px;
      margin-bottom: 18px;
    }

  }
}